aladin:
  api:
    base-url: http://www.aladin.co.kr/ttb/api
    key: ttbgudcjf15411308001

spring:
  profiles:
    active: dev

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true